* {
    font-family: 'Rage Italic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 255, 232);
}

.container {
    width: 60vw;
    margin: auto;
    /*background-color: rgba(52, 73, 94, 1.0);*/
    /*color: rgba(236, 240, 241, 1.0);*/
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

h3 {
    font-size: 2rem;
    color: rgb(76, 197, 47);
}

h4 {
    color: rgb(76, 197, 47);
}

.messages {
    font-weight: bold;
    color: red;
}

.word_info_popup .overlay {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display: none;
}

.word_info_popup .content {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:rgb(237, 255, 232);
    width:50%;
    height:60%;
    z-index:2;
    text-align:center;
    padding:2%;
    box-sizing:border-box;
}

.word_info_popup .close_button {
    cursor: pointer;
    position:fixed;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}

.word_info_popup.active .overlay {
    display:block;
}

.word_info_popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}

.word_display h3 {
    cursor: pointer;
}

.definition {
    font-weight: bold;
}

img {
    height: 150px;
    overflow: hidden;
}

nav {
    background-color: rgb(24, 44, 19); /* darkest blue */
    text-align: center;
    /*color: rgba(52, 152, 219, 1.0);!*light blue*!*/
    font-size: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
    color: rgb(76, 197, 47); /*light blue*/
}

.navbar-brand {
    display: inline;
    float: left;
}

.navbar-links {
    display: inline;
    float: right;
}

nav a {
    /*margin:0 0.5rem;*/
    padding: 0 0.5rem;
    font-size: 1.5rem;

    /*border: 1px solid rgba(52, 152, 219, 1.0);*/
    /*border-radius:0.5rem;*/
}

nav a:hover {
    /*color: rgba(44, 62, 80, 1.0); !* darkest blue *!*/
    /*background-color: rgba(52, 152, 219, 1.0); !*light blue*!*/
    border-bottom: 3px solid rgb(76, 197, 47);
}

a, a:visited {
    color: rgb(76, 197, 47);
    /*color:hotpink;*/
    text-decoration: none;
}

.form {
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
    margin-bottom: 20px;
    display: block;
}

.form-group {
    padding-top: 3rem;
}

.form-group input {
    padding: 0.3rem;
    width: 100%;
}

.form-text-label {
    width: 30%;
    float: left;
    padding: 0.3rem;
}

.form-button-label {
    width: 30%;
    float: left;
}

.form-element {
    width: 70%;
    float: left;
}

.form-button {
    width: 100%;
    float: left;
}

table {
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    table-layout: fixed;
}

td, tr {
    /*border: 1px solid black;*/
    padding: 8px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category-box {
    /*width: 13vw;*/
    width: 32%;
    /*float: left;*/
    /*display: table-cell;*/
    /*padding: 0.5rem;*/
    /*margin: 1vw;*/
    border: 1px solid rgba(189, 195, 199, 1.0);
    color: rgba(44, 62, 80, 1.0);
    margin-bottom: 0.5rem;
}

.category-box-label {
    padding: 0.5rem;
}