<!DOCTYPE html>
<html>
<!-- Font styles imported off internet -->
<head>
    <meta charset="utf-8">
    <title>Te Reo Dictionary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link href="{{ url_for('static', filename='TeReoDictionary.css') }}" rel="stylesheet">
</head>

<body>
<nav>
    <!-- Navbar with page links -->
    <div class="container">
        <div class="navbar-brand"><a href="/">Te Reo Dictionary</a></div>
        <div class="navbar-links">
            <a href="/words">Words</a>
            {% if logged_in %}
                {% if session_info.get('role') == 'Teacher' %}
                    <!-- Only teacher can access the add words page because students aren't trusted -->
                    <a href="/add">Add Words</a>
                {% endif %}
            {% endif %}
            <a href="/categories">Categories</a>
            <a href="/about">About</a>
            {% if logged_in %}
                <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
<!-- Title -->
<div class="container">
    <header>
        <h1><a>Te Reo Dictionary</a></h1>
        <h2>{% block pageheading %}{% endblock %}</h2>
    </header>
<!-- Flashes messages when needed -->
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p class="messages">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block main %}
        {% endblock %}
    </main>
</div>
</body>

</html>