{% extends "base.html" %}
{% block pageheading %}<a style="color: red">Delete</a>{% endblock %}

{% block main %}
    <table class="word_display">
        <tr>
            <td colspan="2"><h4 style="color: red">Are you sure that you want to delete?</h4></td>
        </tr>
        <tr>
            <td colspan="2"><h3>{{ word_info[2] }}</h3><p>{{ word_info[1] }}</p></td>
        </tr>
        <tr>
            <td colspan="2" class="definition">{{ word_info[3] }}</td>
        </tr>
        <tr>
            <td colspan="2" class="word-image">
                <img src ="/static/images/{{ word_info[8] }}.jpg">
            </td>
        </tr>
    <!-- shows what category and level the word is -->
        <tr>
            <td style="width: 50%"><a class="word_label">{% for category in categories %} {% if category[0] == word_info[4] %}{{ category[1] }}{% endif %}{% endfor %}</a></td>
            <td style="width: 50%"><a class="word_label">Level {{ word_info[5] }}</a></td>
        </tr>
        <tr>
            <td colspan="2">Last edited by {% for user in users %} {% if user[0] == word_info[7] %}{{ user[1] }} {{ user[2] }}{% endif %}{% endfor %} on {{ word_info[6] }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="/delete_word/{{ word_info[0] }}">Confirm Delete</a></td>
            <td colspan="2"><a href="/">No</a></td>
        </tr>
        </table>
{% endblock %}