{% extends "base.html" %}

{% block pageheading %}{% if word_info == None %}Add{% else %}Edit{% endif %} word{% endblock %}

{% block main %}    
    <form class="form" method="POST">
        <div class="form-group">
            <div class="form-text-label">Maori Word:</div>
            <div class="form-element"><input type="text" name="maori" id="maori" maxlength="100" {% if word_info != None %} value="{{ word_info[2] }}" {% endif %} required></div>
        </div>

        <div class="form-group">
            <div class="form-text-label">English Word:</div>
            <div class="form-element"><input type="text" name="english" id="english" maxlength="100"  {% if word_info != None %} value="{{ word_info[1] }}" {% endif %}required></div>
        </div>

        <div class="form-group">
            <div class="form-text-label">Definition:</div>
            <div class="form-element"><input type="text" name="definition" id="definition" maxlength="300" {% if word_info != None %} value="{{ word_info[3] }}" {% endif %} required></div>
        </div>

        <div class="form-group">
            <div class="form-text-label">Category:</div>
            <div class="form-element">
                <select name="category" id="category">
                    {% for category in categories %}
                        <option {% if word_info != None %} {% if word_info[4] == category[1] %} selected {% endif %} {% endif %}>{{ category[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="form-text-label">Level:</div>
            <div class="form-element"><input type="number" name="level" id="level" min="1" max="10" {% if word_info != None %} value="{{ word_info[5] }}" {% endif %}></div>
        </div>

        <div class="form-group">
            <div class="form-text-label">Image Name:</div>
            <div class="form-element"><input type="text" name="image_name" id="image_name" maxlength="300" {% if word_info != None %} value="{{ word_info[8] }}" {% endif %}></div>
        </div>

        <div class="form-group">
            <div class="form-button"><input type="submit" value="{% if word_info == None %}Add{% else %}Edit{% endif %} Word"></div>
        </div>
    </form>
{% endblock %}