{% extends "base.html" %}
{% block pageheading %}Welcome{% if logged_in %} {{ user_info.get('firstname') }} {{ user_info.get('lastname') }}!{% endif %}{% endblock %}


{% block main %}
    <form class="form" method="POST">
            <div class="form-group">
                <div class="form-button">Search Words:</div>
            </div>

            <div class="form-group">
                <div class="form-element"><input type="text" name="search" id="search" required></div>
                <div class="form-button-label"><input type="submit" value="Search"></div>
            </div>
       </form>
{% endblock %}