{% extends "base.html" %}
{% block pageheading %}Words{% endblock %}

{% block main %}
    <table><tr><td>
        <form class="form" method="POST">
            <div class="form-group">
                <div class="form-button">Search Words:</div>
            </div>

            <div class="form-group">
                <div class="form-element"><input type="text" name="search" id="search"></div>
                <div class="form-button-label"><input type="submit" value="Search"></div>
            </div>
            <!-- Category drop down box -->
            <div class="form-group">
                <div class="form-text-label">Category tag:</div>
                <div class="form-element">
                    <select name="category" id="category">
                        <option {% if search == None %}selected{% endif %}>All</option>
                        {% for category in categories %}
                            <option {% if search != None %}{% if search[0] == category[0] %}selected{% endif %}{% endif %}>{{ category[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
       </form>
    </td></tr></table>
    <br>
    {% if word_info != None %}
        {% for word in word_info %}
            <!-- Pop-up function -->
            <script>
                function togglePopup{{ word[0] }}() {
                    document.getElementById("word_popup_{{ word[0] }}").classList.toggle("active");
                }
            </script>
            <div class="word_info_popup" id="word_popup_{{ word[0] }}">
                <div class="overlay"></div>
                <div class="content">
                    <div class="close_button" onclick="togglePopup{{ word[0] }}()">&times;</div>
                    <table class="word_display">
                        <tr>
                            <td colspan="2"><h3>{{ word[2] }}</h3><p>{{ word[1] }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="definition">{{ word[3] }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img src ="/static/images/{{ word[8] }}.jpg" class="word-image">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%"><a class="word_label">{% for category in categories %} {% if category[0] == word[4] %}{{ category[1] }}{% endif %}{% endfor %}</a></td>
                            <td style="width: 50%"><a class="word_label">Level {{ word[5] }}</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Last edited by {% for user in users %} {% if user[0] == word[7] %}{{ user[1] }} {{ user[2] }}{% endif %}{% endfor %} on {{ word[6] }}</td>
                        </tr>
                        {% if logged_in %}
                            <!-- Only teachers can edit and delete because students aren't trusted -->
                            {% if session_info['role'] == 'Teacher' %}
                                <tr>
                                    <td style="width: 50%"><a href="/edit/{{ word[0] }}">Edit</a></td>
                                    <td style="width: 50%"><a href="/delete/{{ word[0] }}">Delete</a></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <table class="word_display">
            <!-- Open pop-up -->
                <tr>
                    <td colspan="2"><h3 onclick="togglePopup{{ word[0] }}()">{{ word[2] }}</h3><p>{{ word[1] }}</p></td>
                </tr>
                <tr>
                    <td colspan="2" class="definition">{{ word[3] }}</td>
                </tr>
            </table>
            <br>
        {% endfor %}
    {% else %}
        <h2>No results found</h2>
    {% endif %}
{% endblock %}